<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.1.2" targetFramework="net452" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net452" />
  <package id="docx4j.NET" version="3.2.0.1" targetFramework="net452" />
  <package id="IKVM" version="7.3.4830.0" targetFramework="net452" />
  <package id="slf4j-api" version="1.7.5" targetFramework="net452" />
  <package id="slf4j-NetCommonLogging" version="1.7.5.2" targetFramework="net452" />
</packages>